<h1>Main Home Page</h1>

<div>
  <a href='/posts'><h3>Go to Blog Posts</h3></a><br>
</div>
<div>
  <a href='/photos'><h3>Go to Gallery</h3></a><br>
</div>
<div>
  <a href='/careers'><h3>Go to Careers Page</h3></a>
</div>
