<h1>Welcome to Posts Homepage</h1>

<% @posts.each do |post| %>
  <div>
    <h3><a href="/posts/<%= post.id %>"><%= post.title %></a></h3>
  </div>
<% end %>

<a href="/posts/new"><h4>Create a New Post</h4></a>
